runs*/
LJSpeech-1.1/
output*
scripts_joc/
tests/
workspace/
pretrained_models/
*.pyc
__pycache__
LJSpeech-1.1.tar.bz2
training_data/
models/
pretrained_models/
output/

.idea/
.DS_Store

*.swp
*.swo
*.swn
